{% extends 'base.html.twig' %}

{% block body %}

  <h1 class="display-4 text-center my-4">Se connecter</h1>

    {{ form_start(formUtilisateur, {'attr': {'class': 'col-md-7 mx-auto'}}) }}

      {{ form_row(formUtilisateur.username, {'attr': {'placeholder': "Identifiant"}}) }}

      {{ form_row(formUtilisateur.email, {'attr': {'placeholder': "Entrez votre adresse email"}}) }}

      {{ form_row(formUtilisateur.password, {'attr': {'placeholder': "Entrez votre mot de passe"}}) }}

      {{ form_row(formUtilisateur.confirm_password, {'attr': {'placeholder': "Entrez votre mot de passe"}}) }}


          {# Remplacer la couleur du bouton #}
          <button type="submit" class="btn btn-info mb-5">Se connecter</button>

      
    {{ form_end(formUtilisateur) }}

{% endblock %}
