{% extends 'base.html.twig' %}

{% block body %}

  <h1 class="display-4 text-center my-4">

    {# Mise en forme du titre en fonction du scénario inscription ou connexion #}
    {# {% if login %}
    S'inscrire
    {% else %}
    Se connecter
    {% endif %} #}

  </h1>


    {{ form_start(formUtilisateur, {'attr': {'class': 'col-md-7 mx-auto'}}) }}

    {{ form_row(formUtilisateur.prenom, {'attr': {'placeholder': "Prénom"}}) }}

    {{ form_row(formUtilisateur.nom, {'attr': {'placeholder': "Nom"}}) }}

    {{ form_row(formUtilisateur.username, {'attr': {'placeholder': "Identifiant"}}) }}

    {{ form_row(formUtilisateur.email, {'attr': {'placeholder': "Entrez votre adresse email"}}) }}

    {{ form_row(formUtilisateur.password, {'attr': {'placeholder': "Entrez votre mot de passe"}}) }}



          {# Remplacer la couleur du bouton #}
          <button type="submit" class="btn btn-info mb-5">
            S'inscrire
          {# Condition qui permet au bouton de changer en fonction du scénario inscription/connexion d'un utilisateur
          (id connu ou inconnu pour modifier ou non l'utilisateur) #}
          {# {% if login %}
          S'inscrire
          {% else %}
          Se connecter
          {% endif %} #}

          </button>

      
  {{ form_end(formUtilisateur) }}



{% endblock %}
