{% extends 'base.html.twig' %}

{% block title %} BACK OFFICE {% endblock %}

{% block body %}
<div class="col-md-10">
    

    <div class="col-md-8">
        <h2>LISTE DES MEMBRES</h2>

        <table class="table table-bordered text-center">
            {# Création d'une boucle pour récupérer les données de chaque colonne dans la table Utilisateur.
               À chaque tour de boucle, la variable de réception 'data' récupère les données d'une colonne.
               Si les données récupérées ne concernent pas celles de la colonne 'id' en BDD, la boucle affiche les données récupérées dans les autres colonnes.  #}

            <tr>
                
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Modifier</th>
            {# Ajout d'un bouton pour supprimer un utilisateur #}
                    <th>Supprimer</th>
            </tr>

            {# Création d'une boucle pour récupérer les données de chaque utilisateur.
               À chaque tour de boucle, la variable de réception 'data' récupère les données d'un utilisateur
               et affiche son nom, son prénom et son adresse dans une cellule.  #}

            {% for data in utilisateur %}
                <tr>

                    <td>{{ data.prenom }}</td>
                    <td>{{ data.nom }}</td>
                    <td>{{ data.adresse }}</td>

                    {# route paramétrée qui attend un id dans l'url.
                    Le paramètre 'id' à envoyer se trouve dans 'data' qui contient toutes les données d'un membre par tour de boucle #}
                    <td><a class="btn btn-dark" href="{{ path('adminMembre', {'id': data.id}) }}"><i class="far fa-edit"></i></a></td>
                    <td><a class="btn btn-danger" href="{{ path('adminMembre', {'id': data.id}) }}"><i class="far fa-trash-alt"></i></a></td>

                    {# Condition permettant de démarrer ou prolonger un abonnement premium #}
                    {% if 'premium' == 'non'%}

                        <td><button>Premium</button></td>

                        {% else %}

                        <td><button>Prolonger</button></td>
                        
                    {% endif %}
                </tr>
            {% endfor %}     
    
        </table>
    </div>
</div>
{% endblock %}
