{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE {% endblock %}

{% block body %}
<div class="col-md-10">
    <div class="row">
        <nav>
            <ul>
                <li class="list-item">
                    <a href="#">Gestion des membres</a>
                </li>

                <li class="list-item">
                    <a href="">Gestion des documents</a>
                </li>

                <li class="list-item">
                    <a href="">Gestion des abonnements</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-md-8">
        <h2>LISTE DES MEMBRES</h2>

        <table class="table table-bordered text-center">

            <tr>
                {% for data in colonne %}
    
                    {% if data != 'id' %}
    
                        <th>{{ data }}</th>
    
                    {% endif %}
    
                {% endfor %}

                    <th>Supprimer</th>
            </tr>
    
            {% for data in utilisateurs %}
                <tr>
                    <td>{{ data.prenom }}</td>
                    <td>{{ data.nom }}</td>
                    <td>{{ data.adresse }}</td>
                    <td><a class="btn btn-dark" href="{{ path('admin', {'id'= data.id}) }}"><i class="far fa-edit"></i>Modifier</a></td>
                    <td><a class="btn btn-danger" href=""><i class="far fa-trash-alt"></i>Supprimer</a></td>
                </tr>
            {% endfor %}     
    
        </table>
    </div>
</div>
{% endblock %}
