{% extends "utilisateur/index.html.twig" %}

{% block main %}
<div class="col"> 

    <h1 class="display-4 text-center">Mes documents</h1>

            
        <table class="table table-border mt-2">

            <thead>
                <th>Document</th>
                <th>Taille</th>
                <th>Date d'édition</th>
                <th>Date d'échéance</th>
                <th>Supprimer</th>
                <th>Prolonger</th>
            </thead>

            <tbody>
                {% for doc in docs %}         

                <tr>
{{dump(doc)}}
                    <td>{{ doc.document }}</td>
                    <td>{{ doc.taille}}</td>
                    <td>{{ doc.date_edition|date('Y') }}</td>
                    <td>{{ doc.date_echeance|date('Y') }}</td>
                    <td><a class="btn btn-danger" href="{{ path('docs_add', {id: doc.id}) }}"><i class="far fa-pencil"></i>Prolongerr</a></td>
                    <td><a class="btn btn-danger" href=""><i class="far fa-trash-alt"></i>Supprimer</a></td>


                </tr>
                {% endfor %} 

            </tbody>
            
        </table>

    </div>
   
{% endblock %}