<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Metadata pour SEO #}
    <meta name="description" content="Site de gestion de documents administratifs">


    <title>{% block title %} DOCX {% endblock %}</title>

    {% block stylesheets %}

        {# DESIGN.CSS #}
        <link rel="stylesheet" href="{{ asset('css/design.css') }}"/>
        {# GOOGLE FONT ANONYMOUS PRO #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap">
        {# CDN BOOTSTRAP #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {# FONT AWESOME #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% endblock %}

  </head>

<body>
  <header>
        {# NAV #}
    <nav class="navigation row navbar mx-auto justify-content-around text-center">

          {# path() est une fonction Twig permettant de générer une URL en fonction du nom de la route envoyée en argument.
          ex : path('blog') --> URL 'blog'#}

          {# LOGO et Route vers l'accueil  #}
          <a class="logo navbar-brand" href="{{ path('home') }}">
            DOCX
          </a>
          
          <img src="{{ asset('photos/logo.png') }}" width="70" height="70" class="d-inline" alt="documents_administratifs" loading="lazy">

          <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="liens collapse navbar-collapse">
            
            <ul class="menu d-flex text-center">
              <li class="">
                {# Route vers accueil #}
                <a class="" href="{{ path('home') }}">ACCUEIL</a>
              </li>

              <li class="">
                {# Route vers services ne fonctionne pas#}
                <a class="" href="{{ path('service') }}">SERVICES</a>
              </li>

              <li class="">
                {# Route vers about #}
                <a class="" href="{{ path('about') }}">À PROPOS</a>
              </li>

              <li class="nav-item dropdown">
                {# Route vers membre {{ path('membre') }} ne fonctionne pas #}
                <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MEMBRE
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 

                  {# Condition pour modifier l'affichage pour se déconnecter quand on est connecté #}

                      {# app.user permet de stocker les informations de l'internaute qui est connecté, cad les informations de la session en cours. #}
                      
                      {# Si app.user renvoie FALSE, donc si l'internaute n'est pas connecté, on entre dans le if et les liens pour s'inscrire et se connecter apparaît #}
                    
                    {% if not app.user %}

                          <a class="dropdown-item" href="{{ path('registration') }}">S'inscrire</a>

                          <a class="dropdown-item" href="{{ path('login') }}">Se connecter</a>
                    {# Si app.user renvoie TRUE, donc si l'internaute est connecté, il peut se déconnecter pour être redirigé vers l'accueil. #}
                    {% else %} 

                    {# Lien de déconnexion pour redirection vers l'accueil #}
                          <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>

                    {% endif %}

                    {# Condition pour avoir avoir accès au Back Office si l'internaute connecté a un rôle admininistrateur #}

                      {# is_granted est une fonction TWIG qui permet de voir les données de la session utilisateur et de savoir siun utilisateur ADMIN peut avoir accès au back office #}
                  
                  
                    {% if is_granted('ROLE_ADMIN') %}
                      
                      {# Accès au Back Office #}
                            <a class="dropdown-item" href="{{ path('admin') }}">Back Office</a>

                    {% endif %}
                </div>
              </li>
            </ul>
          </div>
    </nav>
  </header>

{% block body %}

    <div class="conteneur container-fluid">

      {# Affichage des templates #}
          
          
        
    </div>

{% endblock %}


{# FOOTER #}
<footer class="footer row navbar mx-auto justify-content-around">

  <ul style="list-style-type:disc" class="">
    <section>

      <div class="footer-items">

        <div class="footer-item">
          {# Route vers Contact #}
          <li><a href="{{ path('contact')}}" mailto:turtles@docx.com>CONTACT</a></li>
          <small>
          Où nous trouver ? 2 rue Eugène Pottier, 78190 Trappes
          </small>
        </div>

        <div class="footer-item">
          {# Route vers CGV #}
          <li><a href="https://www.entreprises.cci-paris-idf.fr/web/reglementation/contrats-modeles/commerciaux/conditions-generales-de-vente-entre-professionnels">CGU</a></li>
          <small>
          Conditions Générales de Vente
          </small>
        </div>

        <div class="footer-item">
          {# Route vers RGPD #}
          <li><a href="https://www.cnil.fr/fr/comprendre-le-rgpd">RGPD</a></li>
            <small>
            Comprendre le RGPD
            </small>
        </div>

    <body>
      <div class="col-md-8 offset-md-3">

        {# Affichage des templates #}
         

      </div>


      <div class="socials">
        {# Route vers Réseaux Sociaux #}
        <li><a href="">RÉSEAUX SOCIAUX</a></li>

        <small>Suivez-nous sur les réseaux sociaux</small>

        <img src="{{ asset('photos/facebook.png') }}" alt="Facebook">
        <img src="{{ asset('photos/github.jpg') }}" alt="Github">
        <img src="{{ asset('photos/twitter.png') }}" alt="Twitter">

      </div>
  </ul>
  <p> &copy; 2020 - Joanna Rénel - Stéphanie Mbapou - Angélique Thiaw - Tous droits réservés.</p>
</footer>

{% block javascripts %}


{# JS-JQUERY  BOOTSTRAP  #}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{# APP.JS #}
<script src ="/js/app.js"></script>

            <img src="{{ asset('photos/facebook.png') }}" alt="Facebook">
            <img src="{{ asset('photos/github.jpg') }}" alt="Github">
            <img src="{{ asset('photos/twitter.png') }}" alt="Twitter">


{% endblock %}

</body>
</html>
 