{% extends "utilisateur/index.html.twig" %}

{% block main %}
<div class="col"> 

    <h1 class="display-4 text-center">Mes documents</h1>

    {% if docs.docs %}
    
        <table id="docs" class="table table-striped mt-2">

            <thead>
                <th>Document</th>
                <th>Taille</th>
                <th>Date d'édition</th>
                <th>Date d'échéance</th>
                <th>Prolonger</th>
                <th>Supprimer</th>
            </thead>

       
            <tbody>

                 {% for doc in docs.docs %} 
                    
                    <tr>
                        <td>{{ doc.document|raw }}</td>
                        <td>{{ doc.taille}}</td>
                        <td>{{ doc.dateEdition|date('Y') }}</td>
                        <td>{{ (doc.dateEcheance|date('Y')) + 8 }}</td> 
                        
                        <td><a class="btn btn-info" href="{{ path('docs', {'id': doc.id}) }}"><i class="far fa-pencil"></i>Prolonger</a></td>
                        <td><a class="btn btn-danger delete-doc" data-id="{{ doc.id }}" href="#"><i class="far fa-trash-alt"></i></a></td> 
                    </tr>
                {% endfor %}  

                
                

              

            </tbody>
        </table>

     {% else %}
        <p>Vous n'avez pas de documents enregistrés</p>
    {% endif %} 
    </div>
   
{% endblock %}
{% block javascripts %}
    <script src="asset('js/app.js')"></script>
{% endblock %}
